<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <!-- List your package sources here -->
       <add key="SimpleMigrations" value="https://ci.appveyor.com/nuget/simplemigrations" />
    </packageSources>
    <activePackageSource>
       <!-- Mark all package sources as active -->
       <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>
